**CHAPTER 3: INTRODUCING LISTS**

A list is a collection of objects in a particular order. In Python, the elements of a list are enclosed in square brackets.

In [1]:
bicycles=['trek', 'cannondale', 'redline','specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [2]:
# Accessing elements in a list
print(bicycles[0])
print(bicycles[0].title())
# To access the last element in a list
print(bicycles[-1])

trek
Trek
specialized

In [3]:
bicycles=['trek','cannondale','redline','specialized']
message=f"My first bicycle was a {bicycles[0].title()}"
print(message)

My first bicycle was a Trek

**Changing, adding, and removing elements in a list**

In [5]:
motorcycles=['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

**The simplest way to add a new element to a list is to append it to the list. When you append an item to a list, the new element is added to the end of the list.**

In [6]:
motorcycles=['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [7]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [8]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

**The insert() method opens a space at position 0 and stores the value 'ducati' at that location. This operation shifts every other value in the list one position to the right.**

In [9]:
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki']

**You can no longer access the value that was removed from the list after the del statement is used.**

In [10]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

The pop() method removes the last item in a list, but lets you work with the item after removing it.

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print(f"The first motorcycle i owned was a {first_owned.title()}.")

The first motorcycle i owned was a Honda.

**IF YOU ARE UNSURE WHETHER TO USE THE del STATEMENT OR THE pop() METHOD, HERE'S A SIMPLE WAY TO DECIDE:**

WHEN YOU WANT TO DELETE AN ITEM FROM A LIST AND NOT USE THAT ITEM IN ANY WAY, USE del STATEMENT; IF YOU WANT TO USE AN ITEM AS YOU REMOVE IT, USE THE pop() METHOD

In [12]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

If you do not know the position of the value you want to remove from a list, you can use the remove() method.

The remove() method deletes only the first occurence of the value you specify. If there is a possibility the value appears more than once in a list, you'll need to use a loop to make sure all occurences of the value are removed.

**ORGANIZING A LIST**

In [13]:
cars= ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

The sort() method changes the order of the list permanently. The cars are now arranged in alphabetical order and we can never revert to the original order.

The list can also be sorted in reverse order by passing the argument reverse=True to the sort() method.

In [14]:
cas= ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [15]:
cars=['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\n Here is a sorted list:")
print(sorted(cars))
print("\nHere is the original list again: ")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

 Here is a sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

To maintain the original order of a list but present it in a sorted order, you can use the sorted() function. The sorted() function lets you display your list in a particular order but doesn't affect the actual order of the list. The sorted() function also accepts a reverse=True argument if you want to display a list in reverse alphabetical order.

In [16]:
cars= ['bmw', 'audi', 'toyota', 'subaru']
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

The reverse() method reversesthe order of the list permanently.

In [17]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

The len() function is used to find the length of the list.