**CHAPTER 4: WORKING WITH LISTS**

In [1]:
# looping through an entire list
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

alice
david
carolina

The concept of looping is important because it is one of the most common ways a computer automates repetitive tasks.

In [2]:
# Doing more work within a for loop
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [3]:
magicians= ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

**THE NEWLINE(\n) IN THE SECOND PRINT() CALL INSERTS A BLANK LINE AFTER EACH PASS THROUGH THE LOOP. THIS CREATES A SET OF MESSAGES THAT ARE NEATLY GROUPED FOR EACH PERSON IN THE LIST.**

In [4]:
magicians= ['alice','david','carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a grat trick!")
  print(f"I can't wait to see your next trick,{magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a grat trick!
I can't wait to see your next trick,Alice.

David, that was a grat trick!
I can't wait to see your next trick,David.

Carolina, that was a grat trick!
I can't wait to see your next trick,Carolina.

Thank you, everyone. That was a great magic show!

**MAKING NUMERICAL LISTS**

The range() function in python makes it easy to generate a series of numbers. The range() function exhibits off-by-one behaviour. The range() function causes Python to start counting at the first value you give it, and it stops when it reaches the second value you provide. Because it stops at the second value, the output never contains the end value.

In [5]:
for value in range(1,5):
  print(value)

1
2
3
4

In [6]:
for value in range(1,6):
  print(value)

1
2
3
4
5

In [7]:
# Using range() to make a list of numbers
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# range() function to generate a seies with a common difference
numbers= list(range(2,15,2))
print(numbers)

[2, 4, 6, 8, 10, 12, 14]

In [9]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# To write the above program more concisely
squares = []
for value in range(1,11):
  squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
# Simple statistics with a list of numbers
digits = [1,2,3,4,5,6,7,8,9,0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

In [12]:
# A list comprehension allows you to generate the same list as above in one line of code.
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# Slicing a list
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [14]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])

['michael', 'florence', 'eli']

In [15]:
# Looping through a slice
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
  print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [16]:
# Copying a list
# To copy  a list, you can make a slice that includes the entire original list by omitting the first index and the second index
my_foods = ['pizza', 'falafel', 'carrot cake']
friends_foods = my_foods[:]
print("My favourite foods are:")
print(my_foods)

print("\n My friend's favourite foods are:")
print(friends_foods)

My favourite foods are:
['pizza', 'falafel', 'carrot cake']

 My friend's favourite foods are:
['pizza', 'falafel', 'carrot cake']

In [17]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friends_foods = my_foods[:]
my_foods.append('cannoli')
friends_foods.append('ice cream')
print("My favourite foods are:")
print(my_foods)

print("\n My friend's favourite foods are:")
print(friends_foods)

My favourite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

 My friend's favourite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

**TUPLE**

Lists work well for storing collections of items that can change throughout the life of a program. However, sometimes you'll want to create a list of items that cannot change. Tuple allows you to do just that. Python refers to values that cannot change as immutable, and AN IMMUTABLE LIST IS CALLED A TUPLE. A tuple is just like a list except you use parenthesis instead of square brackets.

In [18]:
rectangle_dimensions = (200,50)
print(rectangle_dimensions[0])
print(rectangle_dimensions[1])

200
50

In [19]:
# Looping through all values in a tuple
dimensions = (200,50)
for dimension in dimensions:
  print(dimension)

200
50

In [20]:
# Writing over a tuple
dimensions = (200,50)
print("Original dimensions:")
for dimension in dimensions:
  print(dimension)

dimensions = (400,100)
print("\nModified dimensions:")
for dimension in dimensions:
  print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

**TUPLE IS A SIMPLE DATA STRUCTURE. USE IT WHEN YOU WANT TO STORE A SET OF VALUES THAT SHOULD NOT BE CHANGED THROUGHOUT THE LIFE OF A PROGRAM.**